body {
  background-color: rgb(242, 242, 242);
}

form {
  background-color: rgb(74, 74, 204);
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  z-index: 2;
}

input {
  border-radius: 4px;
  padding-inline: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.photo-card {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  width: 360px;
}
.photo-card:hover {
  transform: scale(1.02);
}
.info {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 50px;
}

.render-img {
  width: 360px;
  max-height: 250px;
}

