@import './common';
@import './example';
body {
    background-color: rgb(242, 242, 242);
}

form {
    background-color: rgb(74, 74, 204);
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    z-index: 2;
    
}

input {
    border-radius: 4px;
    padding-inline: 10px;   
    border: none;
}

.gallery {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.photo-card {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    width: 360px;
}

.photo-card:hover {
    transform: scale(1.02);
}

.info {
    display: flex;
    gap: 10px;
}

.info-item {
    text-align: center;
}

.render-img {
    width: 360px;
    height: 250px;
}

.is-hidden {
    visibility: hidden;
}

.load-more {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
        align-items: center;
        background-color: #4d5ae5;
        color: white;
        padding: 8px 24px;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        border-radius: 4px;
        border: none;
        height: 40px;
        cursor: pointer;
}
.load-more:hover {
    background-color: #444ebb;
}

.btn-search {
    border-radius: 4px;
    margin-left: 5px;
    border-left: #cbcbcb00;
    border: none;
    cursor: pointer;
    background-color: white;
}

.btn-search:hover {
    background-color:   rgb(246, 245, 245);
        box-shadow: 0px 0px 2px 1px rgba(67, 66, 66, 0.75);
}

.search-icon {
    display: flex;
    width: 30px;
    height: 20px;
    fill: rgb(80, 80, 80);
}